body {
    font-family: cooper black, sans-serif;
    margin: 50;
    padding: 50;
    background-color: #ADD8E6;
}

#banner {
    width: 70%;
    margin: 20px auto;
}

h1 {
    text-align:center;

p {
    margin: 20px 0;
}
#titulo {
    text-align: center;
}

.texto {
    color: #181661;
    text-align: center;
    }
